body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
}

.container {
	width: 100%; /* Firefox needs this */

	height: 100%; /* Height can be anything */

	/* WebKit (Chrome & Safari) */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;

	/* Firefox */
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;

	/* IE */
	display: -ms-box;
	-ms-box-pack: center;
	-ms-box-align: center;

	/* Native CSS */
	display: box;
	box-pack: center;
	box-align: center;

	font-size: 4rem;
}
